body {
  font-family: Impress;
  background-image: url("SonicClashBackground.png");
  background-attachment: fixed;
  text-align: center;
  font-size: 35px;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

@font-face {
  font-family: Impress;
  src: url("ImpressRegular.otf");
}

html {
  background-image: url("SonicClashBackground.png");
  background-attachment: fixed;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  font-family: Impress;
  float: left;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  -webkit-text-fill-color: rgb(165, 0, 0);
}