body {
  font-family: Impress;
  background-image: url("SonicClashBackground.png");
  background-attachment: fixed;
  text-align: center;
  font-size: 35px;
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(255, 255, 255);
}

.breaker {
  width: 70%;
  height: 70%;
}

.link {
  font-family: Impress;
  color: white;
  text-align:center;
  font-size: 35px;
  padding: 20px;
}

iframe {
  border-radius: 25px;
}

.screenshot {  
  width: 65%;  
  height: 65%; 
  border-radius: 25px; 
}  

@font-face {
  font-family: Impress;
  src: url("ImpressRegular.otf");
}

footer { 
  font-family: Impress;
  background-image: url("copyright.png");
  margin-bottom:0px; 
  color: white; 
  position: fixed;
  left: 0;
  bottom: 0;  
  font-size: 20px;
}

html {
  background-image: url("SonicClashBackground.png");
  background-attachment: fixed;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  font-family: Impress;
  float: left;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  -webkit-text-fill-color: rgb(165, 0, 0);
}