body {
  font-family: Helsinki;
  background-image: url("BeTheOwnerBackground.png");
  background-attachment: fixed;
  text-align: center;
  font-size: 25px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0px rgb(0, 0, 0);
  padding-left: 100px;
  padding-right: 100px;
}

@font-face {
  font-family: Helsink;
  src: url("helsinki.ttf");
}

html {
  background-image: url("BeTheOwnerBackground.png");
  background-attachment: fixed;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  font-family: Helsinki;
  float: left;
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  -webkit-text-fill-color: rgb(165, 0, 0);
}