body {
  font-family: Helsinki;
  background-image: url("BeTheOwnerBackground.png");
  background-attachment: fixed;
  text-align: center;
  font-size: 30px;
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: Helsinki;
  src: url("/be-the-owner/helsinki.ttf");
}

footer { 
  font-family: Helsinki;
  background-image: url("copyright.png");
  margin-bottom:0px; 
  color: white; 
  position: fixed;
  left: 0;
  bottom: 0;  
  font-size: 20px;
}

.screenshot {
  border-radius: 25px;
}

iframe {
  border-radius: 25px;
}

.link {
  font-family: Helsinki;
  color: white;
  text-align:center;
  font-size: 35px;
  padding: 20px;
}

html {
  background-image: url("BeTheOwnerBackground.png");
  background-attachment: fixed;
}

.navbar {
  overflow: hidden;
  font-family: Arial;
}

.navbar a {
  font-family: Helsinki;
  float: left;
  font-size: 35px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.navbar a:hover {
  -webkit-text-fill-color: rgb(165, 0, 0);
}